<h1 class="your-places-text">Tus lugares</h1>
<div class="cards-container">
  <div class="card">
    <div class="status-container">
      <span class="status-icon green"></span>
      <h3>Estado</h3>
      <button class="pin-button">
        <img src="assets/pin.svg" alt="Pin" class="pin-icon">
      </button>
    </div>
    <h3>Nombre del lugar</h3>
    <button class="view-button">
      <img src="assets/eye.svg" alt="Ver" class="eye-icon"> Ver
    </button>
  </div>
  <div class="card">
    <div class="status-container">
      <span class="status-icon green"></span>
      <h3>Estado</h3>
      <button class="pin-button">
        <img src="assets/pin.svg" alt="Pin" class="pin-icon">
      </button>
    </div>
    <h3>Nombre del lugar</h3>
    <button class="view-button">
      <img src="assets/eye.svg" alt="Ver" class="eye-icon"> Ver
    </button>
  </div>
  <div class="card">
    <div class="status-container">
      <span class="status-icon green"></span>
      <h3>Estado</h3>
      <button class="pin-button">
        <img src="assets/pin.svg" alt="Pin" class="pin-icon">
      </button>
    </div>
    <h3>Nombre del lugar</h3>
    <button class="view-button">
      <img src="assets/eye.svg" alt="Ver" class="eye-icon"> Ver
    </button>
  </div>
</div>
