<div class="table-container">
  <table class="styled-table">
      <thead>
          <tr>
              <th scope="col" class="first-header">Usuario</th>
              <th scope="col" class="last-header">Detalles</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Ana López</td>
              <td>Administrador - 5 proyectos</td>
          </tr>
          <tr>
              <td>Carlos Méndez</td>
              <td>Editor - 12 artículos</td>
          </tr>
          <tr>
              <td>María González</td>
              <td>Lector - Último acceso: hoy</td>
          </tr>
      </tbody>
  </table>
</div>
