<div class="main-content">
  <main>
   <app-welcome-message-principal></app-welcome-message-principal>

    <section class="cards">
        <div class="card">
            <img src="icon-air.png" alt="Calidad del aire">
            <h3>10%</h3>
            <p>Calidad del aire</p>
        </div>
        <div class="card">
            <img src="icon-temp.png" alt="Temperatura">
            <h3>17°</h3>
            <p>Temperatura</p>
        </div>
        <div class="card">
            <img src="icon-humidity.png" alt="Humedad">
            <h3>30%</h3>
            <p>Humedad</p>
        </div>
    </section>
</main>
</div>
