<nav class="sidebar" [class.open]="isOpen">
  <button class="toggle-btn" (click)="toggleSidebar()">
    <span class="material-icons">menu</span>
  </button>
  <div class="logo" *ngIf="isOpen">
    <h2>Mi App</h2>
  </div>

  <ul>
    <li>
      <a>
        <img src="6p27zj5d.png" width="55px" height="55px">

        <span class="icon-label" *ngIf="isOpen">Inicio</span>
      </a>
    </li>
    <li>
      <a routerLink="/estadisticas">
        <span class="material-icons">analytics</span>
        <span class="icon-label" *ngIf="isOpen">Estadísticas</span>
      </a>
    </li>
    <li>
      <a routerLink="/notificaciones">
        <span class="material-icons">notifications</span>
        <span class="icon-label" *ngIf="isOpen">Notificaciones</span>
      </a>
    </li>
    <li>
      <a routerLink="/ayuda">
        <span class="material-icons">help_outline</span>
        <span class="icon-label" *ngIf="isOpen">Ayuda</span>
      </a>
    </li>
    <li>
      <a routerLink="/perfil">
        <span class="material-icons">person</span>
        <span class="icon-label" *ngIf="isOpen">Perfil</span>
      </a>
    </li>
  </ul>
</nav>


