<aside [class.expanded]="isExpanded">
  <div class="sidebar-toggle" (click)="toggleSidebar()">
    <img src="assets/codex_menu.svg" alt="Toggle" />
  </div>
  <nav>
    <ul class="top-icons">
      <li>
        <img src="assets/dashboard.svg" alt="Dashboard" />
        <span routerLink="/home">Inicio</span>
      </li>
      <li>
        <img src="assets/stats.svg" alt="Stats" />
        <span>Monitoreo</span>
      </li>
      <li>
        <img src="assets/notification.svg" alt="Notifications" />
        <span routerLink="/notifications" >Notificaciones</span>
      </li>
    </ul>

    <ul class="bottom-icons">
      <li class="bottom">
        <img src="assets/help.svg" alt="Help" />
        <span>Ayuda</span>
      </li>
      <li class="bottom">
        <img src="assets/user-icon.svg" alt="User" />
        <span>Perfil</span>
      </li>
    </ul>
  </nav>
</aside>
