.all-charts-container {
    margin-left: 60px;
    padding-bottom: 50px;
    background-color: rgba(0, 255, 255, 0);
    box-sizing: border-box; /* este es el valor correcto */
    justify-content: space-between;


  }
  
  .chart-group-top {
    margin-left: 120px;
    align-items: center;
    display: flex ;
    gap: 5px;

  }

  .chart-u-line {
    background-color: rgba(255, 0, 0, 0);
    width:800px;

  }

  .chart-bar {
    width:500px;
    background-color: rgba(0, 128, 0, 0);
  }
  
  
  .chart-bottom {
    margin-top: 40px;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 5.25rem;
    width: calc(100% - 5.25rem);
    height: 60px;
    background: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    z-index: 10;
  }