.navbar {
  position: fixed;
  top: 0;
  left: 5.25rem; /* Mismo ancho que el aside */
  width: calc(100% - 5.25rem); /* Resta el ancho del aside */
  height: 60px;
  background: white;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* Si el aside se expande */
aside.expanded + main .navbar {
  left: 170px;
  width: calc(100% - 170px);
}

header h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.status h2 {
  font-size: 28px;
}

.status p {
  font-size: 16px;
  margin-bottom: 10px;
}

.status-buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.on {
  background: green;
  color: white;
}

.off {
  border: 2px solid red;
  color: red;
  background: white;
}
