<div class="notification">
  <div class="notification-header">
      <span class="status-icon red"></span>
      <span class="title">Ventiladores desactivados</span>
  </div>
  <p class="message bg-gray">Los parámetros han vuelto a los niveles recomendados.</p>
</div>

<div class="notification">
  <div class="notification-header">
      <span class="status-icon green"></span>
      <span class="title">Ventiladores activados</span>
  </div>
  <p class="message bg-green">El sistema está ajustando las condiciones para mantener un ambiente óptimo.</p>
</div>

<div class="notification">
  <div class="notification-header">
      <img src="assets/alert-triangle.svg" alt="" class="alert-icon">
      <span class="title">Alerta de Temperatura Alta</span>
  </div>
  <p class="message bg-red">La temperatura actual es de 40°C, lo que supera el límite recomendado.</p>
</div>
